#officeImg{
    margin-left:30%;
    width:50%;
}

#sectionText{
    width:60%;
    float:left;
}

#googlePlex{
    width:100%;
    margin-top: 60%;
}

section{
    margin-top:20px;
}

article{
    margin-top:20px;
}

#googleIcon{
    max-width:40%;
    margin:25%;
}

#references{
    font-size: 12px;
    font-style: italic;
}

#references h1{
    font-size:20px;
}
