#sectionText{
    width:60%;
    float:left;
}

section{
    margin-top:20px;
}

article{
    margin-top:20px;
}

#googleIcon{
    max-width:40%;
    margin:25%;
}

#references{
    font-size: 12px;
    font-style: italic;
}

#references h1{
    font-size:20px;
}
