#foundersImage{
    margin-left:20%;
    width:60%;
}

#sectionText{
    width:60%;
    float:left;
}

#ericSchmidt{
    width:100%;
    
}


section{
    margin-top:20px;
}

article{
    margin-top:20px;
}

#googleIcon{
    max-width:40%;
    margin:25%;
}

#references{
    font-size: 10px;
}

#references h1{
    font-size:15px;
}
