@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

header{
    font-size: 20px;
    font-weight:bold;
}

main{
    margin:auto;
    width:80%;
}

footer{
    padding:10px;
    font-size: 20px;
}

#googleLogo{
   max-width:10%;
}

#googleIcon{
    margin: 50%;
    max-width:50%;
}

#references{
    font-size: 12px;
    font-style: italic;
}

#references h1{
    font-size:20px;
}

.tooltap{
    position: relative;
    display: inline;
    color: #4682B4;
}

.tooltap .tooltaptext{
    visibility: hidden;
    width: 250px;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 2px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -125px;
    margin-top: 5px;
}

.tooltap:hover .tooltaptext{
    visibility: visible;

}

.tooltap:hover{
    color: #000000;
}
