@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

header{
    font-size: 20px;
    font-weight:bold;
}

main{
    margin:auto;
    width:60%;
}

img{
    margin-right:10px;
}

footer{
    padding:10px;
    font-size: 20px;
}

#sectionText{
    width:80%;
    float: left;
}
